.famous-person-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 20px;
    padding: 50px 0;
}

.bg-famous-person {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    aspect-ratio: 254/241;
}

.bg-famous-person img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.headline-medium.famous-person-th-name {
    font-size: 1.25rem;
}

.famous-person-th-name {
    margin-top: 20px;
}

.famous-person-en-name {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--yellow-color);
}

@media only screen and (min-width: 500px) {
    .headline-medium.famous-person-th-name {
        font-size: 1.875rem;
    }

    .famous-person-en-name {
        font-size: 1.25rem;
    }    
}

@media only screen and (min-width: 700px) {
    .famous-person-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
}

@media only screen and (min-width: 1160px) {
    .famous-person-wrapper {
        grid-template-columns: repeat(4, 1fr);
        gap: 50px 20px;
        padding: 100px 0;
    }

    .famous-person-img {
        width: 150px;
    }
}